.header {
    background-color: #e74c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid white;
}

.logo img {
    width: 75px;
    cursor: pointer;
}

.logo {
    margin-left: 50px;
}

.nav {
    display: flex;
    gap: 1.5rem;
    margin-right: 50px;
}

.nav.open {
    display: flex;
    opacity: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-button {
    color: black;
    background: white;
    text-decoration: none;
    border: 2px solid white;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
}

.nav-button:hover {
    color: white;
    background: #e74c3c;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    width: 30px;
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
    width: 30px;
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        z-index: 5;
    }

    .nav {
        display: none;
        position: absolute;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #e74c3c;
        margin: 180px 0 0 0;
        border-bottom: 1px solid white;
    }

    .nav.open {
        display: flex;
        z-index: 3;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        padding: 0;
        gap: 1rem;
    }

    .nav-button {
        font-size: 1.2rem;
        color: white;
        border: 0;
        background: #e74c3c;
    }

    .logo img {
        width: 60px;
    }

    .logo {
        margin-left: 20px;
    }
}

@media (min-width: 769px) {
    .nav {
        display: flex
    }
}