
.team-page {
 max-width: 100vw;
 display: flex;
 flex-direction: column;

 justify-content: center;
}
main, section {
 margin: 0;
 padding: 0;
 width: 100%;
}


.team-intro-section {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 gap: 2rem;
 width: 100%;
 height: auto;
 border: 1px solid #000;
 background: rgba(92, 0, 0, 0.50) url("https://s3-alpha-sig.figma.com/img/c0fe/fc25/85989ea35f7d8d6aa8e3d5efdcbbc353?Expires=1727049600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qsgVuj3JCohiQccwR~J1iVxbPANPjS6QaZIP1A~dFRs1YY1BsYEirmA8UwJGfKR2KveNhf-75aQoNeG9Y7E2ELNEuk9sW~ZN2MpKaq2M9a72HEaGxbGVAVJopdsMZOkCz0dzxX3~kyZWv~a9DWMpmEnp7v~SNLo715MvB5pQjEnHvb9IiEs2sEgrVUk0HnAkYcOWzEuNUy2SFeA1rQieb2gfychFJ5I8klj1Rs0qvQ6n3Oe~X2-NO7vOFMMTkSqjdTfJxMayvdLNFdG1NT786kJbWKX96dq8bOmx16YzDvDS~oilU4i4eJ2b0fzULv4naTPKdJDpBSVmASHOrDOwkQ__") no-repeat;
 background-position-x: 35rem;
 background-position-y: -4rem;
 background-size: 45%;
 box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
 padding: 2rem;
}
h1, p {
 color: white;
}
h1 {
 font-size: xx-large;
}

.team-banner {
 background-color: #FF4242;
 border-radius: 45px;
 width: 30vw;
 height: 70vh;
}

.icon-container {
 align-items: center;
}

@media only screen and (max-width: 768px) {
 .team-intro-section {
  background-image: url("https://s3-alpha-sig.figma.com/img/c0fe/fc25/85989ea35f7d8d6aa8e3d5efdcbbc353?Expires=1727049600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qsgVuj3JCohiQccwR~J1iVxbPANPjS6QaZIP1A~dFRs1YY1BsYEirmA8UwJGfKR2KveNhf-75aQoNeG9Y7E2ELNEuk9sW~ZN2MpKaq2M9a72HEaGxbGVAVJopdsMZOkCz0dzxX3~kyZWv~a9DWMpmEnp7v~SNLo715MvB5pQjEnHvb9IiEs2sEgrVUk0HnAkYcOWzEuNUy2SFeA1rQieb2gfychFJ5I8klj1Rs0qvQ6n3Oe~X2-NO7vOFMMTkSqjdTfJxMayvdLNFdG1NT786kJbWKX96dq8bOmx16YzDvDS~oilU4i4eJ2b0fzULv4naTPKdJDpBSVmASHOrDOwkQ__"); /* Repeat your background image URL here */
  background-position-x: 20rem;
  background-position-y: 3rem;

 }
 .team-banner {
  width: 50vw;
  height: 30vh;
 }
}